
html{
  height:100%;
}

@keyframes opacityInicio {
    0% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacity_bkg {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity:1;}
}
.background{
  width: 100%;
  height:100%;
  background-image: url("img/Blue-And-Green.jpg");
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  animation-name: opacity_bkg;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
body{
  margin: 0 auto;
  padding: 0;
  height:100%;
}


/*---GRID general----*/
.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 22% 22% 11% 22% 22%;
  grid-template-areas:
 "yoIng    yoIng    jazz      Romanos12   contacto "
 "app      Noise    TemaGen   Temporales  adaptacion "
 "zona1    zona2    zona3     zona4       zona5 "
 "DBmenos  DBmenos  bass      Tokio       insectos "
 "Genera   Genera   solil     dic13       diseño ";
}

.titulo_zona{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5vw;
}
.zona{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation-name: opacityInicio;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.containerTxt{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5vw;
  display: inline-block;
  margin: 10px 0px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.elemento, .elementoYo{
  margin:2px;
  opacity: 0;
  border-radius: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
.imgPlayM{
  height: 50%;
  border-radius: 5px;
  margin-top: 15px;
}
.imgPdf{
  height: 50%;
  border-radius: 5px;
  margin-top: 15px;
}
.Titulo{
  text-align: center;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtBold{
  font-weight:bolder;
  text-align: center;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: auto;
}
.txt{
  font-weight:200;
  text-align: center;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
}
.permahover{
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

/*----CLASES PRINCIPALES---*/
#zona1{
  grid-area: zona1;
  background-color: #00668d;
  color:#02b6fb;
}
#zona2{
  grid-area: zona2;
  background-color: #008469;
  color:#27cead;
}
#zona3{
  grid-area: zona3;
  background-color: #529f32;
  color:#89e93d;
}
#zona4{
  grid-area: zona4;
  background-color: #8ab925;
  color:#4c6f00;
}
#zona5{
  grid-area: zona5;
  background-color: #c1d029;
  color:#768100;
}

#headerMovil{display: none;}

#containerIng{
  cursor: pointer;
  grid-area: yoIng;
  display: flex;
  height:100%;
  width:100%;
  align-items: center;
  background: rgba(0,0,0,0.05);
}
#Contacto{
  grid-area: contacto;
  background: rgba(0,0,0,0.05);
}
#adaptacion{
  grid-area: adaptacion;
  background: rgba(0,0,0,0.1);
}
#insectos{
  grid-area: insectos;
  background: rgba(0,0,0,0.1);
}
#diseño{
  grid-area: diseño;
  background: rgba(0,0,0,0.05);
  align-items: center;
  cursor: default;
}
#Noise{
  grid-area: Noise;
  background-image: url("img/imgNoise.jpg");
}
#Genera{
  background-image: url("img/imgLeds.jpg");
  grid-area: Genera;
  animation-delay: 0.1s;
}
#DBmenos{
  background-image: url("img/imgDBmenos.png");
  grid-area: DBmenos;
}
#app{
  grid-area: app;
  background-image: url('img/imgNoiseScape.jpg');
}
#jazz{
  grid-area: jazz;
  background: rgba(251,109,0,0.3);
  animation-delay: 0.1s;
}
#musicGen{
  grid-area: TemaGen;
  background: rgba(251,109,0,0.3);
}
#Bass{
  grid-area: bass;
  background: rgba(251,109,0,0.3);
}
#solil{
  grid-area: solil;
  background: rgba(251,109,0,0.3);
  animation-delay: 0.1s;
}
#Romanos12{
  grid-area: Romanos12;
  background-image: url("img/imgRomanos12.png");
  animation-delay: 0.1s;
}
#Temporales{
  grid-area: Temporales;
  background-image: url("img/imgTemporales.jpg");
}
#Tokio{
  grid-area: Tokio;
  background-image: url("img/imgTokio.jpg");
}
#Dic13{
  grid-area: dic13;
  background-image: url("img/imgDic13.jpg");
  animation-delay: 0.1s;
}
#imgPlay{

}
#imgPlaySolo{

  margin:0 auto;
}

#txtGen{
  grid-area: txtGen;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.2) 74%, rgba(255,255,255,0) 100%);
}
#txtDBMenos{
  grid-area: txtDBMenos;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.2) 74%, rgba(255,255,255,0) 100%);
}


/**---------Modal------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: rgba(0,0,0,0);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 0px;
    width:100%; /* Could be more or less, depending on screen size */
    height: 100%;
}
.modal-video{

    margin: 5% auto;
    position: relative;
    width: 80%;
    max-width: 1280px;
    height: 0;
    padding-bottom: 56.25%;
}
.embedVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
}
.modal-video > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 720px;
    left: 0; top: 0;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.embedPDF{
  height: 100%;
  width:100%;
}
.embedVideo{
  height: 100%;
  width:100%;
}
span{
  width: 10%;
  height: auto;
}
