
html{
  height:100%;
}

@keyframes opacity_elem {
    0% {opacity: 0;}
    1% {opacity: 1;}
    100% {opacity:1;}
}
@keyframes opacity {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacity_bkg {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:1;}
}

.background{
  width: 100%;
  height:100%;
  background-image: url("img/Blue-And-Green.jpg");
  background-attachment: fixed;
  background-position: center;
  animation-name: opacity_bkg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media (min-width:0px) {/*--------------------Desktop*/
body{
  margin: 0 auto;
  padding: 0;
  height:100%;
}

.imgMusica{
  height:90%;
  width:90%;
  max-height:95%;
  margin:5px;
  object-fit: contain;
  justify-content: center;
}
/*-----IMAGENES y TXT general------*/
.imgPlayM{
  max-width: 95%;
  max-height: 95%;
  display: inline-flex;
  border-radius: 5px;
  align-self: center;
}
.imgPdf{
  max-width: 95%;
  max-height: 95%;
  display: inline-flex;
  align-self: center;
  margin: 0 auto;
}
.txtMusica{
  text-align: center;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtMedio{
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtPeq{
  text-align: center;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
}
/*---GRID general----*/
.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 22% 22% 10% 22% 22%;
  grid-template-areas:
 "yoIng    yoIng    jazz     bass        contacto "
 "app      Noise    solil    Temporales  adaptacion "
 "zona1    zona2  zona3    zona4       zona5 "
 "Genera   Genera Genera   Tokio       insectos "
 "Genera   Genera Genera   dic13       dise침o ";
}

.titulo_zona{
  color:white;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5vw;;
}

.zona{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation-name: opacity;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  grid-row:4;
}

.sombra{
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5vw;
  align-self: center;
}
.elemento{
  margin:5px;
  opacity: 0;
  border-radius: 5px;
}

.permahover{
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/*----CLASES PRINCIPALES---*/
.zona1{
  grid-area: zona1;
  background-color: #f6000c;
}
.zona2{
  grid-area: zona2;
  background-color: #50CB08;
}
.zona3{
  grid-area: zona3;
  background-color: #FB6D00;
}
.zona4{
  grid-area: zona4;
  background-color: #038799;
}
.zona5{
  grid-area: zona5;
  background-color: #C50078;
}
.app{
  grid-area: app;
  background: rgba(0,154,143,0.4);
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-areas: 'imgApp''txtApp';
  grid-row-gap: 5px;
  margin: 5px;
}
.adaptacion{
  grid-area: adaptacion;
  background: rgba(0,0,0,0.1);
}
.insectos{
  grid-area: insectos;
  background: rgba(0,0,0,0.1);
}
.dise침o{
  grid-area: dise침o;
  /*background: rgba(0,0,0,0.1);*/
  align-items: center;
}
.ing{
  grid-area: yoIng;
  /*background: rgba(0,0,0,0.1);*/
  align-items: center;
}
.contacto{
  grid-area: contacto;
  /*background: rgba(0,0,0,0.1);*/
}
.Genera{
  grid-area:Genera;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  grid-template-areas: 'txtGen txtGen''introGen videoGen';
  background: rgba(85,111,122,0.5);
}
.Noise{
  grid-area: Noise;
  background-image: url("img/imgNoise.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.solil{
  grid-area: solil;
  background: rgba(251,109,0,0.3);
}
.Bass{
  grid-area: bass;
  background: rgba(251,109,0,0.3);
}
.jazz{
  grid-area: jazz;
  background: rgba(251,109,0,0.3);
}
.Temporales{
  grid-area: Temporales;
  background-image: url("img/imgTemporales.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Dic13{
  grid-area: dic13;
  background-image: url("img/imgDic13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Tokio{
  grid-area: Tokio;
  background-image: url("img/imgTokio.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*----CONTAINERS, IMG y TXT individuales-----*/
#containerGen{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  grid-area: introGen;
}
#containerGen iframe{
  position: absolute;
  top: 0;
  right: 2%;
  width: 95%;
  height: 95%;
  max-width: 837.59px;
}
#containerGen2{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  grid-area: videoGen;
}
#containerGen2 iframe{
  position: absolute;
  top: 0;
  left:2%;
  width: 95%;
  height: 95%;
  max-width: 837.59px;
}

#containerJ{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playJ pdfJ''txtJ txtJ';
}
#containerSol{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playSol pdfSol''txtSol txtSol';
}
#containerBass{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playBass''txtBass';
}
#containerTemp{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playTemp''txtTemp';
}
#containerTokio{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playTokio''txtTokio';
}
#containerDic13{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playDic13''txtDic13';
}
#containerNoise{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playNoise''txtNoise';
}
#containerSueno{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'pdfSueno''txtSueno';
}
#containerInsec{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'pdfInsec''txtInsec';
}
#containerIng{
  height:95%;
  width:95%;
  max-height:95%;
  margin:10px;
  padding-top: 7%;
  padding-bottom: 7%;
}
#containerDisen{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'imgDisen''txtDisen';
}
#txtDisen{
  grid-area: txtDisen;
}
#imgDisen{
  grid-area: imgDisen;
}
#containerContacto{
  display: grid;
  grid-template-rows: 68% 32%;
  grid-template-areas: 'imgContac''txtContac';
}
#imgApp{
  width: auto;
  height: auto;
  max-height: 50%;
  display: flex;
  margin: 5px auto;
  border-radius: 5px;
  grid-area: imgApp;
  background-image: url('img/imgNoiseScape.png');
}
#txtApp{
  grid-area:txtApp;
}
#imgPlayJazz{
  grid-area:playJ;
}
#imgPlaySolil{
  grid-area:playSol;
}
#imgPlayBass{
  grid-area:playBass;
  margin:0 auto;
}
#imgPdfInsec{
  grid-area: pdfInsec;
}
#txtSueno{
  grid-area: txtSueno;
}
#txtInsec{
  grid-area: txtInsec;
}
#imgPdfJazz{
  grid-area: pdfJ;
}
#imgPdfSolil{
  grid-area: pdfSol;
}
#txtJ{
  grid-area: txtJ;
}
#txtSol{
  grid-area: txtSol;
}
#txtBass{
  grid-area: txtBass;
}
#txtTemp{
  grid-area: txtTemp;
}
#txtTokio{
  grid-area: txtTokio;
}
#txtDic13{
  grid-area: txtDic13;
}
#txtNoise{
  grid-area: txtNoise;
}
#imgMailContacto{
  grid-area: imgContac;
}
#txtContac{
  grid-area: txtContac;
  align-self: baseline;
}
#txtGen{
  grid-area: txtGen;
  align-self: center;
}

/**---------Modal------------*/

.modal {
  display: none;
    position: fixed;
    z-index: 1;/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
}
.modal-video{
    background-color: #fefefe;
    margin: 5% auto;
    position: relative;
    width: 80%;
    max-width: 1920px; 
    height: 0;
    padding-bottom: 56.25%;
}
.embedVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.embedPDF{
  height: 100%;
  width:100%;
}
.embedVideo{
  height: 100%;
  width:100%;
}
span{
  display: none;
}
}/*Desktop*/
/*
@media (max-width:960px) {} /*---------------------M칩vil*/
