
html{
  height:100%;
  font-family: 'Anton', sans-serif;
}

@keyframes opacity_elem {
    0% {opacity: 0;}
    1% {opacity: 1;}
    100% {opacity:1;}
}
@keyframes opacity {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacity_bkg {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:1;}
}

.background{
  width: 100%;
  height:100%;
  background-image: url("img/Blue-And-Green.jpg");
  background-attachment: fixed;
  background-position: center;
  animation-name: opacity_bkg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media (min-width:960px) {/*--------------------Desktop*/
body{
  margin: 0 auto;
  padding: 0;
  height:100%;
}
#imgApp{
  width: 60%;
  max-width: 650px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.imgPlayM{
  max-width: 85%;
  max-height: 85%;
  display: inline-flex;
  margin-top: 3%;
  margin-right: 5%;

  border-radius: 5px;
}
.imgPdf{
  max-width: 85%;
  max-height: 85%;
  display: inline-flex;
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 5px;
}
.imgMusica{
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari */
  transform: scale(0.8, 0.8);
  height: 70%;
  display: flex;
  object-fit: contain;
  justify-content: center;
  z-index: 5px;
}
.txtMusica{
  text-align: center;
  font-size: 120%;
  margin-top: 0;
  margin-bottom: auto;
}
.txtPeq{
  text-align: center;
  font-size: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#imgPdfCerebro{
  transform: scale(2);
}

.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 22% 22% 10% 22% 22% 22%;
  grid-template-areas:
 "app       app    jazz  Temporales  Temporales "
 "app       app    solil    Temporales  Temporales "
 "zona1     zona2   zona3    zona4       zona5 "
 "noise    Genera  Genera   TOKIO       adaptacion "
 "noise    Genera  Genera   dic13       insectos "
 ".         .       .        .           . ";
}

.titulo_zona{
  color:white;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 200%;;
}

.zona{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation-name: opacity;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  grid-row:4;
}

.sombra{
  width: 95%;
  height: 33%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  color:white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;

}
.elemento{
  margin:5px;
  opacity: 0;
  border-radius: 5px;
}
.elemento:hover{
  animation-name: opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.video{
  width: 100%;
  height: 80%;
}

.zona1{
  grid-area: zona1;
  background-color: #f6000c;
}
.zona2{
  grid-area: zona2;
  background-color: #50CB08;
}
.zona3{
  grid-area: zona3;
  background-color: #FB6D00;
}
.zona4{
  grid-area: zona4;
  background-color: #038799;
}
.zona5{
  grid-area: zona5;
  background-color: #C50078;
}
.app{
  grid-area: app;
  background: rgba(0,154,143,0.4);
}
.Genera{
  grid-area: Genera;
  background: rgba(85,111,122,0.5);
}
.Temporales{
  grid-area: Temporales;
  background: rgba(0,154,143,0.25);
}
.adaptacion{
  grid-area: adaptacion;
  background: rgba(0,0,0,0.1);
}
.insectos{
  grid-area: insectos;
  background: rgba(0,0,0,0.1);
}
.noise{
  grid-area: noise;
  background: rgba(246,0,12,0.2);
}
.solil{
  grid-area: solil;
  background: rgba(251,109,0,0.3);
}
.jazz{
  grid-area: jazz;
  background: rgba(251,109,0,0.3);
}
.dic13{
  grid-area: dic13;
  background: rgba(0,154,143,0.25);
}
.TOKIO{
  grid-area: TOKIO;
  background: rgba(0,154,143,0.25);
}

/**---------Proyectos------------*/

#NoiseScapeFrame{
  width: 100%;
  height: 100%;
  zoom: 0.71;
06.
-moz-transform: scale(0.71);
07.
-moz-transform-origin: 0 0;
08.
-o-transform: scale(0.71);
09.
-o-transform-origin: 0 0;
10.
-webkit-transform: scale(0.71);
11.
-webkit-transform-origin: 0 0;
}

.modal {
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.embedPDF{
  height: 100%;
  width:100%;
}
span{
  display: none;
}

}/*Desktop*/

@media (max-width:960px) { /*---------------------Móvil*/

}
