
html{
  height:100%;
}
@keyframes opacity_bkg {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacityInicio {
    0% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes height {
    0% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    1% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    100% {
          height:380px;
          min-height: 45%;
          opacity:1;}
}
@keyframes heightOff {
    0% {
        height:380px;
        min-height: 45%;
        opacity:1;}

    99% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    100% {
         height: 0;
         min-height: 0;
         opacity: 0;}
}

.background{
  width: 100%;
  height:100%;
  position: fixed;
  z-index: -1;
  background-image: url("img/Blue-And-Green.jpg");
  background-attachment: fixed;
  background-position: center;
  animation-name: opacity_bkg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

body{
  margin: 0 auto;
  padding: 0;
  height:100%;
}


/*---GRID general----*/
.flexbox{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  align-content: space-around;
}
.zona{
  width: 100%;
  height: 15%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-name: opacityInicio;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.elemento, .elementoYo{
  display: none;
  flex-direction: column;
  margin:5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content:flex-end;
}
.containerTxt{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  margin: 40px auto;
}
.elemInactivo{
  animation-name: heightOff;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@media screen and (orientation: portrait) {
  .elemento, .elementoYo{
    width: 90%;
    height: 380px;
    min-height: 45%;
    opacity: 0;
  }
  .elemActivo{
    animation-name: height;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
@media screen and (orientation: landscape) {
  .zona{
    height: 25%;
  }
  .titulo_zona{
    margin-top: 10px;
  }
  .elemento, .elementoYo{
    width: 312px;
    height: 0;
    opacity: 1;
    border-radius: 5px;
  }
  .elemActivo >div{
    height: 250px;
  }
  .elementoYo{
    width: 60%;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    margin:5px;
    opacity: 1;
  }
  .containerTxt{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin: 0 40px 0 0;
  }

}
.titulo_zona{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 6vw;
  margin-left: 15px;
  text-align: center;
}
.musica{
  flex-direction: row;
  justify-content: center;
}
.txtMusica{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.imgPlayM{
  max-height: 55%;
  margin-top: 15px;
}

.imgPdf{
  max-height: 55%;
  margin-top: 15px;
}
.Titulo{
  text-align: center;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtBold{
  text-align: center;
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: auto;
}
.txt{
  text-align: center;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
}
#zona1{
  background-color: #00668d;
  color:#02b6fb;
  animation-delay: 0s;
}
#zona2{
  background-color: #008469;
  color:#27cead;
  animation-delay: 0.2s;
}
#zona3{
  background-color: #529f32;
  color:#89e93d;
  animation-delay: 0.4s;
}
#zona4{
  background-color: #8ab925;
  color:#4c6f00;
  animation-delay: 0.6s;
}
#zona5{
  background-color: #c1d029;
  color:#768100;
  animation-delay: 0.8s;
}

#app{
  background-image: url('img/imgNoiseScape.jpg');
}
#adaptacion{
  background: rgba(0,0,0,0.1);
}
#insectos{
  background: rgba(0,0,0,0.1);
}
#ing{
  /*background: rgba(0,0,0,0.1);*/
  align-items: center;
}
#Genera{
  background-image: url("img/imgLeds.jpg");
}
#DBmenos{
  background-image: url("img/imgDBmenos.png");
}
#Noise{
  background-image: url("img/imgNoise.jpg");
}
#solil{
  background: rgba(251,109,0,0.3);
}
#Bass{
  background: rgba(251,109,0,0.3);
}
#musicGen{
  background: rgba(251,109,0,0.3);
}
#jazz{
  background: rgba(251,109,0,0.3);
}
#Romanos12{
  background-image: url("img/imgRomanos12.png");
}
#Temporales{
  background-image: url("img/imgTemporales.jpg");
}
#Dic13{
  background-image: url("img/imgDic13.jpg");
}
#Tokio{
  background-image: url("img/imgTokio.jpg");
}

#containerIng{
  height:95%;
  width:95%;
  max-height:95%;
  margin:10px;
  padding-top: 7%;
  padding-bottom: 7%;
}
#headerMovil{
  top: 0;
  margin: 5px;
  width: 95%;
  display: grid;
  grid-template-rows: 75px 30px minmax(min-content, 1fr) 20px;
  grid-template-columns: 75px auto 75px;
  grid-template-areas:
    'imgInfo  .  imgContac'
    'Jorge    Jorge  Jorge'
    'desc     desc   desc '
    '. diseño .';
}
#imgMailContacto{
  float: right;
  height: 100%;
  width: auto;
  grid-area: imgContac;
}
#imgInfo{
  height: 100%;
  width: auto;
  grid-area: imgInfo;
}
#yo{
  height: 100%;
  top:0;
  grid-area: Jorge;
}
.descripYo{
  grid-area: desc;
  height: 100%;
}
#contacto, #containerIng{
  display: none;
}
#diseño{
  grid-area: diseño;
  align-items: center;
}
#imgPlay{

}
#imgPlaySolo{
  grid-area:playBass;
  max-height: 75%;
  margin:0 auto;
}
#txtGen{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.3) 74%, rgba(255,255,255,0.01) 100%);
}
#txtDBMenos{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.3) 74%, rgba(255,255,255,0.01) 100%);
}

/**---------Modal------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}
.modal-video{

    margin: 5% auto;
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 0;
    padding-bottom: 56.25%;
}
.embedVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    max-height: 720px;
}
.modal-video  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
#contentContacto{
  margin-top: 60px;
}
.close{
  font-size: 40px;
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.embedPDF{
  height: 100%;
  width:100%;
}
.embedVideo{
  height: 100%;
  width:100%;
}

span{
  display: none;
  width: 10%;
  height: auto;
}
