
html{
  height:100%;
}
@keyframes opacityZonas {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:0.7;}
}
@keyframes opacity {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity:1;}
}
@keyframes height {
    0% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    1% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    100% {
          height:380px;
          min-height: 45%;
          opacity:1;}
}
@keyframes heightOff {
    0% {
        height:380px;
        min-height: 45%;
        opacity:1;}

    99% {
        height: 0;
        min-height: 0;
        opacity: 0;}

    100% {
         height: 0;
         min-height: 0;
         opacity: 0;}
}

.background{
  width: 100%;
  height:100%;
}

body{
  background-image: url("img/Blue-And-Green.jpg");
  background-attachment: fixed;
  background-position: center;
  animation-name: opacity_bkg;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  padding: 0;
  height:100%;
}

.imgMusica{
  width: 90%;
  height: 90%;
  max-height:95%;
  margin: auto auto;
}
/*-----IMAGENES y TXT general------*/
.imgPlayM{
  max-width: 95%;
  max-height: 85%;
  display: inline-flex;
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}
.imgPdf{
  max-width: 95%;
  max-height: 85%;
  display: inline-flex;
  align-self: center;
  justify-self: center;
}
.txtMusica{
  text-align: center;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtMedio{
  text-align: center;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: auto;
}
.txtPeq{
  text-align: center;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
}
/*---GRID general----*/

.flexbox{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-self: center;
  align-items: center;
  align-content: space-around;
}
.zona{
  width: 100%;
  height: 15%;
  margin: 0 auto;

  justify-content: center;
  align-items: center;
}

@media screen and (orientation: portrait) {
  .elemento{
    display: none;
    width: 90%;
    height: 380px;
    min-height: 45%;
    flex-direction: column;
    margin:5px;
    opacity: 0;
    border-radius: 5px;
  }
  .elemActivo{
    animation-name: height;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .elemInactivo{
    animation-name: heightOff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  .containerTxt{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vw;
    align-self: center;
  }
}
@media screen and (orientation: landscape) {
  .elemento{
    display: none;
    width: 312px;
    height: 0;
    flex-direction: column;
    margin:5px;
    opacity: 1;
    border-radius: 5px;
  }
  .elemActivo{
    display: flex;
    animation-name: height;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .elemActivo >div{
    height: 250px;
  }
  .elementoCh{
    width: 60%;
    min-height: 25%;
    display: flex;
    flex-direction: column;
    margin:5px;
    opacity: 1;
    border-radius: 5px;
  }
  .containerTxt{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5vw;
    align-self: center;
  }
}
.zona1{
  background-color: #00668d;
  color:#02b6fb;
}
.zona2{
  background-color: #008469;
  color:#27cead;
}
.zona3{
  background-color: #529f32;
  color:#89e93d;
}
.zona4{
  background-color: #8ab925;
  color:#4c6f00;
}
.zona5{
  background-color: #c1d029;
  color:#768100;
}

.titulo_zona{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 6vw;
  margin-left: 15px;
}


/*----CLASES PRINCIPALES---*/
.app{
  background-image: url('img/imgNoiseScape.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adaptacion{
  background: rgba(0,0,0,0.1);
}
.insectos{
  background: rgba(0,0,0,0.1);
}
.ing{
  /*background: rgba(0,0,0,0.1);*/
  align-items: center;
}
.Genera{
  background: rgba(0,0,0,0.2);
}
.Noise{
  background-image: url("img/imgNoise.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.solil{
  background: rgba(251,109,0,0.3);
}
.Bass{
  background: rgba(251,109,0,0.3);
}
.jazz{
  background: rgba(251,109,0,0.3);
}
.Temporales{
  background-image: url("img/imgTemporales.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Dic13{
  background-image: url("img/imgDic13.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Tokio{
  background-image: url("img/imgTokio.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*----CONTAINERS, IMG y TXT individuales-----*/
#containerGen{
  height: 100%;
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 75% 25%;
  grid-template-areas: 'introGen videoGen''txtGen txtGen';
}
#containerGenIntro{
  border-radius: 5px;
  background-image: url("img/imgGen.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#containerGenVid{
  border-radius: 5px;
  background-image: url("img/imgLeds.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#containerJ{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playJ pdfJ''txtJ txtJ';
}
#containerSol{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playSol pdfSol''txtSol txtSol';
}
#containerBass{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playBass''txtBass';
}
#containerTemp{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playTemp''txtTemp';
}
#containerTokio{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playTokio''txtTokio';
}
#containerDic13{
  width: 100%;
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playDic13''txtDic13';
}
#containerNoise{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'playNoise''txtNoise';
}
#containerSueno{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'pdfSueno''txtSueno';
}
#containerInsec{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'pdfInsec''txtInsec';
}
#containerIng{
  height:95%;
  width:95%;
  max-height:95%;
  margin:10px;
  padding-top: 7%;
  padding-bottom: 7%;
}
#headerMovil{
  top: 0;
  margin: 5px;
  width: 95%;
  display: grid;
  grid-template-rows: 75px 30px minmax(min-content, 1fr) 20px;
  grid-template-columns: 75px auto 75px;
  grid-template-areas:
    'imgInfo  .  imgContac'
    'Jorge    Jorge  Jorge'
    'desc     desc   desc '
    '. . .';
}
#imgMailContacto{
  float: right;
  height: 100%;
  width: auto;
  grid-area: imgContac;
}
#imgInfo{
  height: 100%;
  width: auto;
  grid-area: imgInfo;
}
#yo{
  height: 100%;
  top:0;
  grid-area: Jorge;
}
.descripYo{
  grid-area: desc;
  height: 100%;
}
#txtContac, .contacto, .ing{
  display: none;
}
#containerDisen{
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 'imgDisen''txtDisen';
}
.diseño{
  width: 100%;
}
#txtDisen{
  grid-area: txtDisen;
}
#imgDisen{
  height:100%;
  grid-area: imgDisen;
}
#containerApp{
  display: grid;
  grid-template-rows: 61.8% 38.2%;
  grid-template-areas: 'imgApp''txtApp';
}
#txtApp{
  grid-area:txtApp;
}
#imgPlayJazz{
  grid-area:playJ;
}
#imgPlaySolil{
  grid-area:playSol;
}
#imgPlayBass{
  grid-area:playBass;
  max-height: 75%;
  margin:0 auto;
}
#imgPdfInsec{
  grid-area: pdfInsec;
}
#txtSueno{
  grid-area: txtSueno;
}
#txtInsec{
  grid-area: txtInsec;
}
#imgPdfJazz{
  grid-area: pdfJ;
}
#imgPdfSolil{
  grid-area: pdfSol;
}
#txtJ{
  grid-area: txtJ;
}
#txtSol{
  grid-area: txtSol;
}
#txtBass{
  grid-area: txtBass;
}
#txtTemp{
  grid-area: txtTemp;
}
#txtTokio{
  grid-area: txtTokio;
}
#txtDic13{
  grid-area: txtDic13;
}
#txtNoise{
  grid-area: txtNoise;
}
#txtGen{
  grid-area: txtGen;
  align-self: center;
}

/**---------Modal------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}
.modal-video{

    margin: 5% auto;
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 0;
    padding-bottom: 56.25%;
}
.embedVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    max-height: 720px;
}
.modal-video  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
}
#contentContacto{
  margin-top: 72px;
}
.close{
  font-size: 40px;
  color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.embedPDF{
  height: 100%;
  width:100%;
}
.embedVideo{
  height: 100%;
  width:100%;
}
